*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: #fafafa;
}
.crud{
    width: 80%;
    
    margin: auto ;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    margin: 4px 0px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background: #111;   
    color: #fff;
}
input:focus{
    border: 1px solid #fafafa;
    background: #000;
    transform: scale(1.1);
}   
.price input{
    width: 20%;
}
#total{
    background: #a00d02;
    padding: 5px 2px;
    margin-left: 10px;
}
#total::before{
    content: "Total: ";
}
button{
    width: 100%;
    height: 30px;
    background: #390075;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background: #51025f;
    letter-spacing: 0.1rem;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;

}
#deleteAll{ 
    margin: 20px 0px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}